canvas {
	border: 1px solid black;
}

img {
	position: absolute;
	left: 100px;
	top: 100px;
	transform: translate(-15px, -15px) rotate(0deg);	/*30x30 img size*/
}

#app {
	position: relative;
	overflow: hidden;
	display: inline-flex;
}